CONFIG_DISABLE_LOCKSCREEN_USB_RESTRICTION=y
CONFIG_SCHED_CASS=y
# CONFIG_IO_URING is not set
# CONFIG_BLK_DEV_UBLK is not set
CONFIG_TLS=y
# CONFIG_MTK_SCHEDULER is not set
# CONFIG_MTK_TASK_TURBO is not set
# CONFIG_MTK_CPUFREQ_SUGOV_EXT is not set
# CONFIG_MTK_PERF_COMMON is not set
# CONFIG_ZRAM_WRITEBACK is not set
